Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import statistics  as sts
import yfinance as yf
yf.pdr_override()

Definindo função para tratamento dos dados

In [2]:
def tratar_dados(df: pd.DataFrame) -> None:
    """
    Esta função realiza o pré-processamento dos dados no DataFrame fornecido.

    Args:
        df (pd.DataFrame): O DataFrame a ser processado.

    Returns:
        None
    """

    # Remove duplicatas do DataFrame
    df.drop_duplicates(inplace=True)
    
    # Preenche valores ausentes em cada coluna com a mediana
    for coluna in df.columns:
        df[coluna] = df[coluna].fillna(df[coluna].median())

Obtendo dados

In [3]:
tickers = ["VALE3.SA", 
           "ITSA4.SA",  
           "WEGE3.SA",
           "PETR4.SA",
           "BBAS3.SA"]

In [4]:
carteria = web.get_data_yahoo(tickers, period="5y")["Adj Close"]
carteria

[*********************100%%**********************]  5 of 5 completed

             BBAS3.SA  ITSA4.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Date
2018-09-11  19.938034  6.215196   6.589172  36.229397   8.903819
2018-09-12  20.028898  6.255338   6.749450  36.821850   8.763967
2018-09-13  19.760979  6.295477   6.663969  37.049191   8.735994
2018-09-14  19.920282  6.442660   6.692464  38.027424   8.950436
2018-09-17  20.600945  6.543013   6.909727  37.917202   8.997052
...               ...       ...        ...        ...        ...
2023-09-04  47.270000  9.240000  32.290001  69.400002  36.130001
2023-09-05  47.099998  9.120000  33.369999  69.099998  35.910000
2023-09-06  46.779999  9.010000  33.520000  67.989998  35.549999
2023-09-08  46.639999  9.010000  33.400002  66.709999  35.400002
2023-09-11  47.029999  9.070000  33.549999  67.989998  35.029999

[1240 rows x 5 columns]

Tratando dados

In [5]:
tratar_dados(carteria)

Gerando saldo da carteira

In [6]:
carteria["saldo"] = carteria.sum(axis=1)
carteria

             BBAS3.SA  ITSA4.SA   PETR4.SA   VALE3.SA   WEGE3.SA       saldo
Date
2018-09-11  19.938034  6.215196   6.589172  36.229397   8.903819   77.875618
2018-09-12  20.028898  6.255338   6.749450  36.821850   8.763967   78.619503
2018-09-13  19.760979  6.295477   6.663969  37.049191   8.735994   78.505610
2018-09-14  19.920282  6.442660   6.692464  38.027424   8.950436   80.033266
2018-09-17  20.600945  6.543013   6.909727  37.917202   8.997052   80.967939
...               ...       ...        ...        ...        ...         ...
2023-09-04  47.270000  9.240000  32.290001  69.400002  36.130001  194.330004
2023-09-05  47.099998  9.120000  33.369999  69.099998  35.910000  194.599996
2023-09-06  46.779999  9.010000  33.520000  67.989998  35.549999  192.849997
2023-09-08  46.639999  9.010000  33.400002  66.709999  35.400002  191.160002
2023-09-11  47.029999  9.070000  33.549999  67.989998  35.029999  192.669994

[1240 rows x 6 columns]

Normalizando dados

In [7]:
carteria_normalizada = ((carteria / carteria.iloc[0])*100)
carteria_normalizada

,BBAS3.SA,ITSA4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,saldo
Date,,,,,,
2018-09-11,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2018-09-12,100.455733,100.645862,102.432450,101.635283,98.429297,100.955221
2018-09-13,99.111972,101.291693,101.135145,102.262786,98.115138,100.808971
2018-09-14,99.910966,103.659800,101.567602,104.962895,100.523557,102.770633
2018-09-17,103.324854,105.274443,104.864879,104.658662,101.047114,103.970846
...,...,...,...,...,...,...
2023-09-04,237.084561,148.667871,490.046420,191.557154,405.780943,249.538956
2023-09-05,236.231909,146.737121,506.436917,190.729089,403.310080,249.885652
2023-09-06,234.626938,144.967271,508.713402,187.665277,399.266864,247.638480
2023-09-08,233.924765,144.967271,506.892248,184.132238,397.582219,245.468359
2023-09-11,235.880823,145.932638,509.168676,187.665277,393.426668,247.407339

Movendo as datas dos índices para uma coluna

In [8]:
carteria_normalizada.reset_index(inplace=True)
carteria_normalizada

,Date,BBAS3.SA,ITSA4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,saldo
0,2018-09-11,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,2018-09-12,100.455733,100.645862,102.432450,101.635283,98.429297,100.955221
2,2018-09-13,99.111972,101.291693,101.135145,102.262786,98.115138,100.808971
3,2018-09-14,99.910966,103.659800,101.567602,104.962895,100.523557,102.770633
4,2018-09-17,103.324854,105.274443,104.864879,104.658662,101.047114,103.970846
...,...,...,...,...,...,...,...
1235,2023-09-04,237.084561,148.667871,490.046420,191.557154,405.780943,249.538956
1236,2023-09-05,236.231909,146.737121,506.436917,190.729089,403.310080,249.885652
1237,2023-09-06,234.626938,144.967271,508.713402,187.665277,399.266864,247.638480
1238,2023-09-08,233.924765,144.967271,506.892248,184.132238,397.582219,245.468359
1239,2023-09-11,235.880823,145.932638,509.168676,187.665277,393.426668,247.407339