Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import statistics as sts
import yfinance as yf
yf.pdr_override()

Definindo função para tratamento dos dados

In [2]:
def tratar_dados(df: pd.DataFrame) -> None:
    """
    Esta função realiza o pré-processamento dos dados no DataFrame fornecido.

    Args:
        df (pd.DataFrame): O DataFrame a ser processado.

    Returns:
        None
    """

    # Remove duplicatas do DataFrame
    df.drop_duplicates(inplace=True)
    
    # Preenche valores ausentes em cada coluna com a mediana
    for coluna in df.columns:
        df[coluna] = df[coluna].fillna(df[coluna].median())

Obtedo Dados

In [3]:
ibov = web.get_data_yahoo("^BVSP", period="5y")["Adj Close"]
ibov = pd.DataFrame(ibov)
ibov

[*********************100%%**********************]  1 of 1 completed

                Adj Close
Date
2018-09-11   74657.000000
2018-09-12   75125.000000
2018-09-13   74687.000000
2018-09-14   75429.000000
2018-09-17   76789.000000
...                   ...
2023-09-04  117777.000000
2023-09-05  117331.000000
2023-09-06  115985.000000
2023-09-08  115313.000000
2023-09-11  115890.078125

[1240 rows x 1 columns]

Normalizando dados

In [4]:
ibov_normalizado = (ibov / ibov.iloc[0])*100
ibov_normalizado

             Adj Close
Date
2018-09-11  100.000000
2018-09-12  100.626867
2018-09-13  100.040184
2018-09-14  101.034062
2018-09-17  102.855727
...                ...
2023-09-04  157.757478
2023-09-05  157.160079
2023-09-06  155.357167
2023-09-08  154.457050
2023-09-11  155.230023

[1240 rows x 1 columns]

Movendo as datas dos índices para uma coluna

In [5]:
ibov_normalizado.reset_index(inplace=True)
ibov_normalizado

           Date   Adj Close
0    2018-09-11  100.000000
1    2018-09-12  100.626867
2    2018-09-13  100.040184
3    2018-09-14  101.034062
4    2018-09-17  102.855727
...         ...         ...
1235 2023-09-04  157.757478
1236 2023-09-05  157.160079
1237 2023-09-06  155.357167
1238 2023-09-08  154.457050
1239 2023-09-11  155.230023

[1240 rows x 2 columns]

Tratando dados

In [6]:
tratar_dados(ibov_normalizado)
ibov_normalizado

                Adj Close
Date
2018-09-11   74657.000000
2018-09-12   75125.000000
2018-09-13   74687.000000
2018-09-14   75429.000000
2018-09-17   76789.000000
...                   ...
2023-09-04  117777.000000
2023-09-05  117331.000000
2023-09-06  115985.000000
2023-09-08  115313.000000
2023-09-11  115890.078125

[1219 rows x 1 columns]