Importando a biblioteca

In [17]:
import pandas as pd
import numpy as np
import statistics  as sts
from datetime import datetime
from datetime import timedelta
from bcb import currency
from bcb import sgs

Definindo função para tratamento dos dados

In [18]:
def tratar_dados(df: pd.DataFrame) -> None:
    """
    Esta função realiza o pré-processamento dos dados no DataFrame fornecido.

    Args:
        df (pd.DataFrame): O DataFrame a ser processado.

    Returns:
        None
    """

    # Remove duplicatas do DataFrame
    df.drop_duplicates(inplace=True)
    
    # Preenche valores ausentes em cada coluna com a mediana
    for coluna in df.columns:
        df[coluna] = df[coluna].fillna(df[coluna].median())

Configurando data atual

In [19]:
data_atual = str(datetime.now().strftime("%Y-%m-%d"))
data_atual

'2023-09-11'

Obtendo série temporal da taxa de câmbio do dolar pela api do bacen

In [20]:
dolar = currency.get(['USD'], start='1994-07-01', end=data_atual, side='both')
dolar

               USD
               bid     ask
Date
1994-07-01  0.9000  1.0000
1994-07-01  0.9000  1.0000
1994-07-04  0.9350  0.9400
1994-07-04  0.9350  0.9400
1994-07-05  0.9300  0.9350
...            ...     ...
2023-09-01  4.9312  4.9318
2023-09-04  4.9170  4.9176
2023-09-05  4.9699  4.9705
2023-09-06  4.9756  4.9762
2023-09-08  4.9829  4.9835

[8474 rows x 2 columns]

Tratando dados do histórico de cotação do Dólar

In [21]:
tratar_dados(dolar)

Movendo as datas do índice do histórico de cotação do Dólar para uma coluna

In [22]:
dolar.reset_index(inplace=True)
dolar

           Date     USD
                    bid     ask
0    1994-07-01  0.9000  1.0000
1    1994-07-04  0.9350  0.9400
2    1994-07-05  0.9300  0.9350
3    1994-07-05  0.9270  0.9320
4    1994-07-06  0.9250  0.9300
...         ...     ...     ...
6982 2023-09-01  4.9312  4.9318
6983 2023-09-04  4.9170  4.9176
6984 2023-09-05  4.9699  4.9705
6985 2023-09-06  4.9756  4.9762
6986 2023-09-08  4.9829  4.9835

[6987 rows x 3 columns]

Obtendo série temporal do IPCA pela api do bacen

In [23]:
# Definindo datas para período de busca
ipca = sgs.get({'ipca': 433}, start = '1994-07-01', end=data_atual)
ipca

            ipca
Date
1994-07-01  6.84
1994-08-01  1.86
1994-09-01  1.53
1994-10-01  2.62
1994-11-01  2.81
...          ...
2023-03-01  0.71
2023-04-01  0.61
2023-05-01  0.23
2023-06-01 -0.08
2023-07-01  0.12

[349 rows x 1 columns]

Tratando dados do histórico de variação do IPCA

In [24]:
tratar_dados(ipca)

Movendo as datas do índice do histórico de variação do IPCA para uma coluna

In [25]:
ipca.reset_index(inplace=True)
ipca

          Date  ipca
0   1994-07-01  6.84
1   1994-08-01  1.86
2   1994-09-01  1.53
3   1994-10-01  2.62
4   1994-11-01  2.81
..         ...   ...
146 2022-08-01 -0.36
147 2022-09-01 -0.29
148 2023-02-01  0.84
149 2023-06-01 -0.08
150 2023-07-01  0.12

[151 rows x 2 columns]

Obtendo série temporal do IGP-M pela api do bacen

In [26]:
igpm = sgs.get({'igp-m': 189}, start = '1994-07-01', end=data_atual)

Tratando dados do histórico de variação do IGP-M

In [27]:
tratar_dados(igpm)

Movendo as datas do índice do histórico de variação do IGP-M para uma coluna

In [28]:
igpm.reset_index(inplace=True)
igpm

          Date  igp-m
0   1994-07-01   4.33
1   1994-08-01   3.94
2   1994-09-01   1.75
3   1994-10-01   1.82
4   1994-11-01   2.85
..         ...    ...
206 2022-10-01  -0.97
207 2022-11-01  -0.56
208 2023-05-01  -1.84
209 2023-06-01  -1.93
210 2023-08-01  -0.14

[211 rows x 2 columns]

Obtendo série temporal da Selic pela api do bacen

In [29]:
selic = sgs.get({'selic':432}, start = '1994-07-01', end=data_atual)
selic

            selic
Date
1999-03-05  45.00
1999-03-06  45.00
1999-03-07  45.00
1999-03-08  45.00
1999-03-09  45.00
...           ...
2023-09-07  13.25
2023-09-08  13.25
2023-09-09  13.25
2023-09-10  13.25
2023-09-11  13.25

[8957 rows x 1 columns]

Tratando dados do histórico de variação da Selic

In [30]:
tratar_dados(selic)

Movendo as datas do índice do histórico de variação da Selic para uma coluna

In [31]:
selic.reset_index(inplace=True)
selic

         Date  selic
0  1999-03-05  45.00
1  1999-03-25  42.00
2  1999-04-06  39.50
3  1999-04-15  34.00
4  1999-04-29  32.00
..        ...    ...
74 2021-03-18   2.75
75 2021-05-06   3.50
76 2021-08-05   5.25
77 2021-09-23   6.25
78 2021-10-28   7.75

[79 rows x 2 columns]