Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import statistics  as sts
import yfinance as yf
yf.pdr_override()

Definindo função para tratamento dos dados

In [2]:
def tratar_dados(df: pd.DataFrame) -> None:
    """
    Esta função realiza o pré-processamento dos dados no DataFrame fornecido.

    Args:
        df (pd.DataFrame): O DataFrame a ser processado.

    Returns:
        None
    """

    # Remove duplicatas do DataFrame
    df.drop_duplicates(inplace=True)
    
    # Preenche valores ausentes em cada coluna com a mediana
    for coluna in df.columns:
        df[coluna] = df[coluna].ffill()

Obtendo dados

In [3]:
tickers = ["VALE3.SA", 
           "ITSA4.SA",  
           "WEGE3.SA",
           "PETR4.SA",
           "BBAS3.SA"]

In [4]:
carteria = web.get_data_yahoo(tickers, period="5y")["Adj Close"]
carteria

[*********************100%%**********************]  5 of 5 completed

             BBAS3.SA  ITSA4.SA   PETR4.SA   VALE3.SA   WEGE3.SA
Date
2018-09-24  21.375961  6.334658   7.123428  41.471943   9.010593
2018-09-25  21.246540  6.387501   7.151925  42.849754   9.113358
2018-09-26  21.174643  6.446950   7.191101  41.341053   9.192765
2018-09-27  21.778603  6.638508   7.643439  40.975937   9.295531
2018-09-28  21.174643  6.671534   7.511657  41.210163   9.225463
...               ...       ...        ...        ...        ...
2023-09-18  47.349998  9.231601  34.130001  68.720001  35.790001
2023-09-19  47.279999  9.192107  34.209999  68.849998  35.980000
2023-09-20  47.700001  9.271094  34.290001  69.309998  35.790001
2023-09-21  46.610001  9.083500  33.759998  67.500000  34.980000
2023-09-22  46.689999  9.010000  34.029999  68.000000  34.590000

[1240 rows x 5 columns]

Gerando saldo da carteira

In [5]:
carteria["saldo"] = carteria.sum(axis=1)
carteria

             BBAS3.SA  ITSA4.SA   PETR4.SA   VALE3.SA   WEGE3.SA       saldo
Date
2018-09-24  21.375961  6.334658   7.123428  41.471943   9.010593   85.316584
2018-09-25  21.246540  6.387501   7.151925  42.849754   9.113358   86.749078
2018-09-26  21.174643  6.446950   7.191101  41.341053   9.192765   85.346512
2018-09-27  21.778603  6.638508   7.643439  40.975937   9.295531   86.332018
2018-09-28  21.174643  6.671534   7.511657  41.210163   9.225463   85.793460
...               ...       ...        ...        ...        ...         ...
2023-09-18  47.349998  9.231601  34.130001  68.720001  35.790001  195.221602
2023-09-19  47.279999  9.192107  34.209999  68.849998  35.980000  195.512103
2023-09-20  47.700001  9.271094  34.290001  69.309998  35.790001  196.361094
2023-09-21  46.610001  9.083500  33.759998  67.500000  34.980000  191.933498
2023-09-22  46.689999  9.010000  34.029999  68.000000  34.590000  192.319998

[1240 rows x 6 columns]

Normalizando dados

In [6]:
carteria_normalizada = ((carteria / carteria.iloc[0])*100)
carteria_normalizada

,BBAS3.SA,ITSA4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,saldo
Date,,,,,,
2018-09-24,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2018-09-25,99.394548,100.834198,100.400036,103.322274,101.140481,101.679034
2018-09-26,99.058200,101.772673,100.950002,99.684389,102.021752,100.035080
2018-09-27,101.883617,104.796639,107.300010,98.803996,103.162254,101.190196
2018-09-28,99.058200,105.317989,105.450029,99.368779,102.384632,100.558949
...,...,...,...,...,...,...
2023-09-18,221.510499,145.731644,479.123245,165.702392,397.199155,228.820229
2023-09-19,221.183029,145.108192,480.246272,166.015850,399.307769,229.160727
2023-09-20,223.147863,146.355096,481.369353,167.125031,397.199155,230.155834
2023-09-21,218.048676,143.393698,473.929079,162.760641,388.209721,224.966226
2023-09-22,218.422919,142.233420,477.719395,163.966275,383.881489,225.419244

Movendo as datas dos índices para uma coluna

In [7]:
carteria_normalizada.reset_index(inplace=True)
carteria_normalizada

,Date,BBAS3.SA,ITSA4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,saldo
0,2018-09-24,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,2018-09-25,99.394548,100.834198,100.400036,103.322274,101.140481,101.679034
2,2018-09-26,99.058200,101.772673,100.950002,99.684389,102.021752,100.035080
3,2018-09-27,101.883617,104.796639,107.300010,98.803996,103.162254,101.190196
4,2018-09-28,99.058200,105.317989,105.450029,99.368779,102.384632,100.558949
...,...,...,...,...,...,...,...
1235,2023-09-18,221.510499,145.731644,479.123245,165.702392,397.199155,228.820229
1236,2023-09-19,221.183029,145.108192,480.246272,166.015850,399.307769,229.160727
1237,2023-09-20,223.147863,146.355096,481.369353,167.125031,397.199155,230.155834
1238,2023-09-21,218.048676,143.393698,473.929079,162.760641,388.209721,224.966226
1239,2023-09-22,218.422919,142.233420,477.719395,163.966275,383.881489,225.419244

Tratando dados

In [8]:
tratar_dados(carteria_normalizada)
carteria_normalizada

,Date,BBAS3.SA,ITSA4.SA,PETR4.SA,VALE3.SA,WEGE3.SA,saldo
0,2018-09-24,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,2018-09-25,99.394548,100.834198,100.400036,103.322274,101.140481,101.679034
2,2018-09-26,99.058200,101.772673,100.950002,99.684389,102.021752,100.035080
3,2018-09-27,101.883617,104.796639,107.300010,98.803996,103.162254,101.190196
4,2018-09-28,99.058200,105.317989,105.450029,99.368779,102.384632,100.558949
...,...,...,...,...,...,...,...
1235,2023-09-18,221.510499,145.731644,479.123245,165.702392,397.199155,228.820229
1236,2023-09-19,221.183029,145.108192,480.246272,166.015850,399.307769,229.160727
1237,2023-09-20,223.147863,146.355096,481.369353,167.125031,397.199155,230.155834
1238,2023-09-21,218.048676,143.393698,473.929079,162.760641,388.209721,224.966226
1239,2023-09-22,218.422919,142.233420,477.719395,163.966275,383.881489,225.419244